/* purgecss start ignore */
@import "tailwindcss/base";
/* @import "./base.pcss"; */
/* purgecss end ignore */

@import "tailwindcss/components";
/* purgecss start ignore */
/* @import "./components.pcss"; */
/* purgecss end ignore */

@import "tailwindcss/utilities";
/* purgecss start ignore */
/* @import "./utilities.pcss"; */
/* purgecss end ignore */
